* {
        padding: 0;
        margin: 0;
    }


    header {
      position: fixed;
      height: 100px;
      width: 100%;
      z-index: 2;
      background-color: #30556E;
    }

    header h1 {
      font-size: 52px;
      height: 100px;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 32px;
      color: #FFF;
    }

    .index {
      height: 70px;
      width: 300px;
      position: fixed;
      top: 85px;
      margin: 60px 40px;
      padding: 30px;
      font-size: 18px;
      border: 3px dotted;
      border-radius: 7px;
      border-color: #77c8fe;
    }

    .destiny {
      width: 310px;
      position: fixed;
      top: 235px;
      margin: 60px 40px;
      padding: 25px;
      border: 3px dotted;
      border-radius: 7px;
      border-color: #77c8fe;
    }

    .destiny .title {
      font-size: 20px;
      color: #30556E;
      text-shadow: 1px 0px #FFF;
      padding: 0 0 5px 0;
    }

    .destiny .random {
      font-size: 16px;
      color: #383838;
    }

    .new-post {
        width:70%;
        position: relative;
        top: 115px;
        left: 30%;
        text-align: center;
    }

    .new-post .name_input, .topic_input, .content_input, .button_input {
        display: inline-block;
        margin: 20px 5px 40px 5px;
        padding: 6px;
        font-size: 16px;
    }

    .new-post input[name=user_name] {
        width: 15%;
    }

    .new-post input[name=topic] {
        width: 15%;
    }
 
    .new-post input[name=content] {
        width: 45%;
    }
 
    .new-post input[name=button] {
        width: 10%;
    }


    .post {
        top: 100px;
        width: 900px;
        height: auto;
        margin: 20px 32%;
        padding: 20px;
        border-radius: 7px;
        display: block;
        position: relative;
        background-color: #ADF;
    }

 
    .content {
        width: 100%;
        height: auto;
        margin: 20px 15px 40px 15px;
        font-size: 18px;
        overflow: scroll;
      
    }

    .content .name {
        font-size: 24px;
        color: #30556E;
        font-weight: bolder;
        /*text-shadow: 1px 0px #FFF;*/
    }

    .content .topic {
        font-size: 24px;
        color: #30556E;
        /*text-shadow: 1px 0px #FFF;*/
        font-weight: bolder;
    }

    .content .topic::before {
        font-size: 24px;
        color: #30556E;
        content: " >> ";
    }


    .content p {
        padding: 15px 0 0 20px;
        color: #383838;
    }

 
    .message {
        width: 95%;
        margin: 5px 15px;
        display: inline-block;
        border-radius: 7px;
        padding: 15px 0 15px 10px;
        background-color: #F0F8FF;
    }
 
    .message > span {
        width: 15%;
        font-size: 16px;
        display: inline-block;

    }
 
    .message > span::before {
        color: darkred;
        content: " [ ";
    } 
 
    .message > span::after {
        color: darkred;
        content: " ]   : ";
        size: 100%;
    }        
    .message > p {
        display: inline-block;
        font-size: 16px;
    }

    .new-comment {
        width:100%;
        padding: 5px 20px;
        text-align: left;
    }
    
    .new-comment input {
        display: inline-block;
        margin: 15px 0px 15px 5px;
        padding: 2px;
        font-size: 14px;
    }

    .new-comment input[name=talker] {
        width: 10%;
    }
 
    .new-comment input[name=msg] {
        width: 50%;
    }
 
    .new-comment input[name=button] {
        width: 6%;
    }



